{{#if response}}
<div class='alert alert-light' role='alert'>
  <p class='mb-4' style='font-weight: bold;'>The following response has been
    recorded in Firestore:</p>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>Response ID</th>
        <th scope='col'>Name</th>
        <th scope='col'>Age</th>
        <th scope='col'>College</th>
        <th scope='col'>Applied for</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{response.responseId}}</td>
        <td>{{response.name}}</td>
        <td>{{response.age}}</td>
        <td>{{response.college}}</td>
        <td>{{response.role}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class='container' style='margin-top: 40px;'>
  <p>If the Google Sheets Plugin is up and running, the response will be added to Sheets. Otherwise, the response will
    be retained and transferred once the service restores.</p>
</div>
{{/if}}